@font-face {
  font-family: ArchitectsDaughter;
  src: url(ArchitectsDaughter.ttf);
}

*{
  font-family: ArchitectsDaughter;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}

input:focus {
  border: 3px solid #555;
  border-radius: 4px;
}

button {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #444;
  border-radius: 0px;
  border: 3px solid #222;
  border-width: 3px 3px 3px 3px;
  padding: 5px 20px 5px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  font-style: normal
}

.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  -webkit-transition: 0.2s;
  transition: 0.5s;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

h1{
    color: #4CBFD7
}

body{
    background-image: url('/images/kite.jpg');
    background-size: cover;
    opacity: 0.5;
}
