{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static "js/script.js"%}"></script>
</head>

<body>
<a href="/polls">Index</a><br/>
<a href="/polls/header.html">Header</a><br/>
<a href="/polls/login">Login</a><br/>
<a href="/polls/register">Register</a><br/>
<a href="/polls/createpoll">Create Poll</a><br/>
<a href="/polls/myaccount">My account</a><br/>
<a href="/polls/mypolls">My polls</a><br/>
<a href="/polls/search">Search</a><br/>
<a href="/polls/vote">Vote</a><br/>
<a href="/polls/results">Results</a><br/>
</body>