{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
</head>
<body>
	<form class="login">
		<fieldset>
		<legend style="font-weight:900px;">Login</legend>
		<input name="name" type="text" placeholder="Username" /> <br /> 
		<input name="name" type="password" placeholder="Password" /> <br /> 
		<label class="container" style="float:left;">
		<input type="checkbox" checked="checked">
		<span style="font-weight:500px;">Remember me</span>
		<span class="checkmark"></span>
		</label>
		<button type="submit" value="Submit" style="float:right;">Sign in</button>
		</fieldset>
	</form>
</body>